body {
  color: #5C6573;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin: 0;
}
*, ::after, ::before {
  box-sizing: inherit;
}
a {
  color: #4367C6;
  text-decoration: none;
}
.page__container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.hero_column {
  position: relative;
  width: 100%;
  min-height: 1px;
}
.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #3C5075;
}
/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
.nav__item {
  padding: 0 3rem;
}
.nav__item:last-child {
  padding-right: 0;
}
/* HERO */
.page__hero h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #3C5075;
}
.page__hero h3 {
  font-size: 1.125rem;
  font-weight: 400;
}
/* VALUES */
.values .title {text-align: center;}
.values .row {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
  border-radius: 4px;
  background-color: #F5F8F9;
}
.card span {
  position: absolute;
  top: -1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(180deg, #4367C6 0%, #1B6FFF 100%);
  width: 50px;
  height: 50px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}
.card__title {
  font-weight: 700;
  margin-top: 1rem;
  color: #3C5075;
}
/* INFO SECTION */
.info .page__column div {
  padding: 0 25px 10px;
}
.info .page__column.alternate {
  background-color: #F5F8F9;
}
@media screen and (min-width:576px) {
    .page__container {
        max-width: 540px;
    }
}
@media screen and (min-width:768px) {
  .page__container {
      max-width: 720px;
  }
}
@media screen and (min-width:992px) {
  .page__container {
      max-width: 960px;
  }
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .values .card {
    height: 253px;
    margin-right: 2rem;
  }
  .values .card.last {margin-right: 0;}
}
@media screen and (min-width:1200px) {
  .page__container {
      max-width: 1140px;
  }
}

