body {
  color: #2F2F2F;
  font-family: 'Montserrat',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  overflow-x: hidden;
}
*, ::after, ::before {
  box-sizing: inherit;
}
a,.address svg {
  color: #E5E500;
  text-decoration: none;
  transition: all .15s ease;
}
a:hover, .address svg:hover {
  color: #2A7D2E;
  text-decoration: none;
  transition: all .15s ease;
}
main {padding: 2rem 0;}
.page__container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.page__column {
  position: relative;
  width: 100%;
  min-height: 1px;
}
.col-4, .col-6, .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  color: #2A7D2E;
}
/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  flex-wrap: wrap;
}
a.nav__brand {color: #000; font-weight: 700;}
.nav__toggler {display: none;}
.nav__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  font-weight: 700;
  margin-bottom: 0;
}
.nav__item {
  padding: 0 3rem;
}
.nav__item:last-child {
  padding-right: 0;
}

/* HERO */
.home .page__hero  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 300px;
  background-image: url(images/business3.jpg);
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
}
.page__hero h3 {color: #FFF4DF;}
.page__hero h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #E5E500;
}
.page__hero h3 {
  font-size: 1.125rem;
  font-weight: 400;
}
/* VALUES */
.values .title {text-align: center; margin-bottom: 2rem;}
.values .row {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 30px 0px;
}
.card span {
  position: absolute;
  top: -1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #E5E500;
  width: 50px;
  height: 50px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}
.card__title {
  font-weight: 700;
  margin-top: 1rem;
  color: #3C753E;
}
/* INFO SECTION */
.info .page__column div {
  padding: 2rem;
}
.info .page__column.alternate {
  background-color: #0B3D2C;
  color: #FFF4DF;
}
/* PARTNERS */
.partners{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0;
}
.partners_img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* NEWSLETTER */
footer {
  background-color: #F4FDF4;
}
.newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}
.newsletter .form-group {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  margin: 10px 0;
  padding: 4px;
  border-radius: 4px;
}
.newsletter .form-group .input {
  flex: 0 0 66.6666667%;
  max-width: 66.6666667%;
  position: relative;
}
.newsletter .form-group .submit {
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
  position: relative;
}
.newsletter .form-group input {
  background: #fff;
  box-shadow: none;
  border: none;
  padding: 10px 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  color: #2F2F2F;
}

.newsletter .form-group button {
  background: #E5E500;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #2F2F2F;
  width: 100%;
  height: 100%;
  padding: 0;
}
/* FOOTER SOCIAL */
.page_footer {background-color: #fff;}
.page__footer--social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page__footer--social li{
  display: inline-block;
  margin: .5rem 1rem;
}
.page_footer {padding: 1rem 0;}
/* FAQS */
.accordion {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #3C753E;
  color: #2F2F2F;
}
.accordion__toggle {
  background-color: #F4FDF4;
  cursor: pointer;
  padding: 1rem;
  color: #2F2F2F;
  font-size: 1.125rem;
  text-align: left;
  transition: .4s;
  border: 0;
  outline: 0;
}
.active, .accordion__toggle:hover {
  background-color: #2A7D2E;
  color: #FFF4DF;
}
.accordion__panel {
  padding: 0 1rem;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}
.accordion__panel p {margin-top: 1rem;}
.accordion__toggle:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #FFF4DF;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/* SERVICES */
.services .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 1.125rem;
}
.services .details h2 {
  color: #2A7D2E;
}
.services .row:nth-child(even) {
  flex-direction: row-reverse;
}
.img {
  max-width: 100%;
  height: inherit;
  object-fit: cover;
}
/* CONTACT */
.contact .form-group {margin-bottom: 1rem;}
.contact .form-group .col-6 {padding: 0 .5rem;}
.contact .form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #2F2F2F;
  background-color: #F4FDF4;
  background-clip: padding-box;
  border: 1px solid #2A7D2E;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #E5E500;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-large {
  padding: .5rem 1rem;
}
button.btn:hover {
  background-color: #2A7D2E;
  color: #fff;
  transition: all .15s ease;
}
.map{
  overflow:hidden;
  padding-bottom:56.25%;
  padding-left: 1.25rem;
  padding-left: 1.25rem;
  position:relative;
  height:0;
}
.map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
@media screen and (max-width:991px) {
  ul {padding-left: 1.25rem;}
  .info .row {
    margin-bottom: 1rem;
  }
  .info .page__column div {
    padding: 1.25rem;
  }
  .values .page__column:not(:last-child) {
    margin-bottom: 2rem;
  }
  .values .title {margin-bottom: 2rem;}
  .title {margin: 1rem 0;}
  .contact .page__column {margin-bottom: 1rem;}
  .page__footer--social p {text-align: center;}
  .page__footer--social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__brand {flex: 0 0 80%;}
  .nav__links {
    display: none;
    flex-direction: column;
  }
  .nav__toggler {
    display: initial;
    cursor: pointer;
  }
  .nav__toggleShow {
    display: flex;
    padding: 1rem 0;
  }
}
@media screen and (min-width:576px) {
    .page__container {
        max-width: 540px;
    }
}
@media screen and (min-width:768px) {
  .page__container {
      max-width: 720px;
  }
}
@media screen and (min-width:992px) {
  .page__container {
      max-width: 960px;
  }
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .values .card {
    height: 253px;
    margin-right: 2rem;
  }
  .values .card.last {margin-right: 0;}
  .page__hero h1 {font-size: 3rem;}
  .contact .form {padding-right: 2rem;}
  .contact .address {padding-left: 2rem;}
  .contact .map {margin-top: 2rem;}
  .home .page__hero {min-height: 600px;}
  .home .page__hero { font-size: 4rem;}
  .home .page__hero h3{font-size: 2rem;}
}
@media screen and (min-width:1200px) {
  .page__container {
      max-width: 1140px;
  }
}

